body {
  background: rgb(154, 155, 153);
}
.nav {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.link-contact {
  background-color: rgb(195, 233, 27);
  border-radius: 20px;
  padding: 15px;
  font-size: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 15%;
  border: 12px;
  box-shadow: 0px 2px 2px px rgba(0, 0, 0, 0.78);
  margin-left: 40px;
}
.link-contact li {
  list-style: none;
}
.link-contact li a {
  color: blue;
  font-size: 20px;
}
.link-contact li a:hover {
  color: grey;
  text-decoration: none;
  font-weight: bold;
}

.container-1 {
  margin-top: 70px;
  text-align: center;
}

.mon-title {
  font-size: 50px;
  text-align: center;
  color: blue;
  box-shadow: 0px 2px 12px 4px rgba(0, 0, 0, 0.78);
}

#montant {
  margin: 50px 0 30px 0;
  background-color: blue;
  width: 200px;
  height: 50px;
  font-size: 25px;
  color: white;
  border-radius: 10px;
  margin: auto;
  text-align: center;
  cursor: pointer;
}
.number {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 130px;
}

.euros {
  color: blue;
}

span {
  color: aliceblue;
  font-size: 30px;
  transition-property: font-size;
  transition-duration: 1s;
  transition-delay: 1s;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
}
span:hover {
  font-size: 36px;
}
.container-resultat {
  position: relative;
}

h2.result {
  background-color: rgb(195, 233, 27);
  height: 40px;
  margin-top: -60px;
  position: absolute;
  top: 0;
  box-shadow: 0px 2px 12px 4px rgba(0, 0, 0, 0.78);

}
h1,
h2 {
  width: 100%;
  color: blue;
  background-color: rgb(195, 233, 27);
  border-radius: 20px;
  text-align: center;

}


.monnaies {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 10px;
  background-color: rgb(195, 233, 27);
  color: white;
  font-weight: 800;
  border-radius: 20px;
}

.money {
  width: 70%;
  height: 500px;
  object-fit: cover;
}

.containerTotal {
  margin-top: 30px;
  background-image: url("./img/pexels-photo-3943718.jpeg");
  background-size: cover;
  display: flex;
  justify-content: space-around;
  object-fit: cover;
  border-radius: 10px;
  height: auto;
}

table {
  width: 500px;
  background-color: rgb(195, 233, 27);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  box-shadow: 0px 2px 12px 4px rgba(0, 0, 0, 0.78);

}

tr {
  height: 50px;
}
table:hover {
  box-shadow: 10px 10px lightblue;
  box-sizing: border-box;
}

.resultat {
  width: 400px;
  height: 200px;
  margin-top: 150px;
  color: blue;
  font-weight: bold;
  background-color: rgb(195, 233, 27);
  text-align: center;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  transition: transform 0.5s ease-in-out;
}

.resultat.show {
  transform: translateY(-120px);
  box-shadow: 0px 2px 12px 4px rgba(0, 0, 0, 0.78);

}
.resultat.bottom {
  transform: translateY(0);
}

.resultat:hover {
  box-shadow: 10px 10px lightblue;
}

.money {
  border-radius: 20px;
}

.convertion {
  font-size: 40px;
  margin: 50px 30px 50px 0;
  box-shadow: 0px 2px 12px 4px rgba(0, 0, 0, 0.78);
}

footer {
  background-color: rgb(194, 193, 193);
  border-radius: 20px;
  margin-top: 70px;
  box-shadow: 0px 2px 12px 4px rgba(0, 0, 0, 0.78);

}


h3 {
  color: blue;
  font-size: 22px;
}

.word-key {
  font-size: 19px;
}

.widget {
  padding-top: 30px;
  text-align: center;
}
.group {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-left: 22%;
  width: 100%;
}
.bottom-footer {
  margin-top: 50px;
  text-align: center;
}

@media (max-width: 375px) {
  .container {
    width: 100%;
  }

  .nav {
    width: 100%;
    display: block;
    margin: 0;
  }
  .mon-title {
    font-size: 30px;
  }
  h1 {
    width: 100%;
  }
  .link-contact {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
  }
  .container-1 {
    margin-top: 40px;
  }
  .number {
    margin: 0;
  }
  .container-1 img {
    width: 100%;
    height: 50%;
  }
  span {
    font-size: 23px;
    margin-top: 20px;
  }
  #montant {
    height: 30px;
    margin: 0;
    margin-top: 20px;
    margin: auto;
  }
  .title {
    display: block;
  }
  h2 {
    width: 100%;
  }
  .convertion {
    margin-top: 100px;
    margin: 0;
    font-size: 25px;
  }

  .result {
    margin-top: 30px;
  }
  table {
    display: block;
    opacity: 0.7;
    width: 100%;
  }
  .containerTotal {
    display: block;
  }
  .resultat {
    margin-top: 10px;
    height: 100px;
    width: 100%;
  }
  .resultat.show {
    transform: translateY(0);
    width: 100%;
  }
  tr {
    color: blue;
    font-weight: bold;
  }
  .group {
    display: block;
    text-align: center;
  }
  li {
    list-style: none;
  }
  li a {
    text-decoration: none;
  }
}
@media screen and (min-width: 376px) and (max-width: 820px) {
  .nav {
    width: 100%;
    display: block;
  }
  h1 {
    margin: 0;
  }
  .mon-title {
    width: 100%;
  }
  .link-contact {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
  }
  .link-contact li a {
    font-size: 25px;
  }

  .money {
    width: 100%;
  }

  .convertion {
    margin-bottom: 50px;
  }

  .containerTotal {
    margin-top: 0;
    display: block;
    height: auto;
  }
  table {
    padding-top: 30px;
    width: 70%;
    opacity: 0.7;
    display: block;
    margin-left: 15%;
  }
  tr {
    color: blue;
    font-weight: bold;
    display: block;
    font-size: 22px;
  }
  .resultat {
    width: 100%;
    opacity: 0.7;
  }
  .resultat.show {
    font-size: 50px;
  }
}
